section.skills-hobbies{    
    padding: 4rem 10%;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    flex-direction: column;
    gap: 5rem;
}

section.skills-hobbies h2{
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}

section.skills-hobbies div ul{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

section.skills-hobbies div ul li{
    background-color:var(--branco);    
    width: 10.8rem;
    height: 10.8rem;
    display:grid;
    gap: 15px;
    border-radius: 6px;
    align-content: center;
    
}

section.skills-hobbies div ul li i{
    padding-left: 0.62rem;    
    color: #2A7AE4;
    font-size: 2.5rem;
}

section.skills-hobbies div ul li p{
    font-size: 1rem;
    font-weight: 700;
    color: var(--cinza-escuro);
}

@media (max-width: 768px) {   
    section.skills-hobbies{        
        width: 100%;
        gap:2rem;
        padding:4rem 0;
    }
    
    div.skill{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    div.skill h2 {
        font-size: 2rem;
        text-align: center;
    }
    
    section.skills-hobbies div ul{
        display: flex;
        justify-content: space-around;

    }
    
    section.skills-hobbies div ul li{
        width:10rem;
        height: 5rem;
        padding: 16px;
        gap: 8px;
    }
    section.skills-hobbies div ul li i{
        width: 24px;
        height: 37px;
        font-size: 2rem;

    }
}

@media (max-width: 360px) {
    section.skills-hobbies{
        padding-top: 1rem;
        padding-bottom: 5rem;    
        margin: 0;
    }
    section.skills-hobbies h2{
        font-size: 22px;
        text-align: center;
    }
  
    section.skills-hobbies div ul {
        
        display: flex;
        flex-wrap: wrap;       
        justify-content: center;
    }
    section.skills-hobbies div ul li{           
        width:33%;
        justify-content: flex-start;
        display: flex;
        margin: 0;
        flex-direction: column;
        
    }
    section.skills-hobbies div ul li i{
        font-size: 2rem;        
    }
}